<template>
  <ParentLayout>
      <template #page-bottom>
        <go-top></go-top>
      </template>
  </ParentLayout>
</template>

<script>
import ParentLayout from '@parent-theme/layouts/Layout.vue'
import GoTop from '../../components/go-top.vue';

export default {
    name: 'Layout',
    components: {
        ParentLayout,
        GoTop
    },
    mounted () {
        const hash = decodeURIComponent(this.$route.hash);
        if (!hash) { return; }
        const el = document.querySelector(hash);
        console.dir(el);
        window.scrollTo(0, el.offsetTop)
    }
}
</script>

<style lang="stylus">
</style>
