<template>
  <ClientOnly>
    <button :class="['go-top', {'hide': hide}]" @click="goTop">
        <span class="iconify" data-icon="mdi:arrow-up-bold" data-inline="false"></span>
    </button>
  </ClientOnly>
</template>

<script>
export default {
    name: "goTop",

    data() {
        return {
            parent: null,
            hide: true
        }
    },

    methods: {
        goTop() {
            window.scrollTo({
                behavior: 'smooth',
                left: 0,
                top: 0
            })
        },
        handlerHide(e) {
            // console.dir(this.$root.$el.offsetTop);
            const target = e.target;
            console.dir(target.scrollingElement);

            this.hide = target.scrollingElement.scrollTop < 100
        }
    },

    mounted () {
        document.addEventListener('scroll', this.handlerHide);
    },

    beforeDestroy() {
        document.removeEventListener('scroll', this.handlerHide);
    }


};
</script>

<style lang="stylus">
.go-top
    position fixed
    bottom 10px
    right 5px
    z-index 1000
    line-height 0
    color: #fff
    cursor pointer
    background-color $accentColor
    outline 0
    border 0
    width 3.6rem
    height 3.6rem
    transition transform 0.125s 0s, opacity 0.4s 0s, visibility 0s 0s
    border-radius 50%
    opacity 0.5
    visibility visible
    &.hide
        transition opacity 0.4s 0s, visibility 0s 0.4s
        opacity 0
        visibility hidden
        pointer-events none
    &:hover
        opacity 1
    &:active
        transform scale(0.8)
    .iconify
        height 100%
        width 100%

</style>
